/* ------------------------CZĘŚĆ-GÓRNA-MENU------------------------ */

/* wygląd głównego elementu - ol */
ol {
  list-style-type:none;
  padding:0;
  margin:0;
  background-color:#FFF;
  font-size:18px;
  height:2em;
  line-height:2em;
  text-align:center;
  align-items: center;
}

/* wygląd wszystkich elementów - a - znajdujących się w elemencie - ol */
ol a {
  display:block;
  text-decoration:none;
  color:#000;
  padding:0 5px;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol */
ol > li {
  float:left;
  width:150px;
  margin-left:1px;
  background-color:#FDD700;
  height:2em;
}

/* wygląd elementu - li - pierwszego dziecka elementu - ol */
ol > li:first-child {
  margin-left:0;
}

/* wygląd elementów - li - wszystkich dzieci elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover {
  background-color:#EEE;
}

/* wygląd elementu - a - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > a {
  color:#09C;
}

/* wygląd elementu - ul - dziecka elementu - li - będącego dzieckiem elementu - ol - po najechaniu kursorem myszki na element - li */
ol > li:hover > ul {
  display:block;
}

/* ------------------------CZĘŚĆ-ROZWIJANA-MENU------------------------ */

/* wygląd głównych rozwijanych elementów - ul */
ol > li > ul {
  display:none;
  list-style-type:none;
  padding:0;
  margin:0;
}

/* wygląd elementu - li - w części rozwijanej */
ol > li > ul > li {
  position:relative;
  background-color:#EEE;
}

/* wygląd elementu - a - w części rozwijanej */
ol > li > ul > li > a {
  border-top:1px solid #FFF;
}

/* wygląd elementu - li - w części rozwijanej, po najechaniu kursorem myszki na dany element - li */
ol > li > ul > li:hover {
  background-color:#DDD;
}

/* wygląd elementu - a - w części rozwijanej, po najechaniu kursorem myszki na element - li */
ol > li > ul > li:hover > a {
  color:#09C;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #00b300;
  color: white;
}

.heading {
  border: 5px outset red;
  background-color: lightblue;
  text-align: center;
}
